<main class="container">
  <% info = get_flash(@conn, :info) %>
  <% warning = get_flash(@conn, :warning) %>
  <%= if info do %>
    <p class="alert alert-info" role="alert"><%= info %></p>
  <% end %>
  <%= if warning do %>
    <p class="alert alert-danger" role="alert"><%= warning %></p>
  <% end %>
  <%= @inner_content %>
</main>
